
body {
   background-color: rgb(58, 39, 26);
}
h1 {
   color: chocolate;
   text-align: center;
   background-color: crimson;
   padding-bottom: 10%;
   padding-top: 10%;
}
h2 {
   color: coral;
   border-style: dotted;
   border-color: coral;
   margin-left: 15%;
   margin-right: 15%;
}
h3 {
   color: firebrick;
   border-style: solid;
   border-color: brown;
   border-width: 5px;
   margin-left: 15%;
   margin-right: 15%;
}


